PORT=4000

# production or development
ENV=

# frontend origin (http://localhost:3000)
CORS_ORIGIN=

# some random string
SECRET1=
SECRET2=

# name for the refrest token cookie
COOKIE_NAME=

# example: https://website.com
PROD_API_URL=

# example: postgresql://usernmae:password@localhost:5432/database_name
DATABASE_URL=
